* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 15px;
  }
  body {
    background: #f7f7ff;
    font-family: "Roboto", sans-serif;
    width: 90%;

    max-width: 2090px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
  header {
    color: hsl(233, 13%, 49%);
    margin: 1.3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1{
    font-size:2.3rem;
    font-weight: bold;
  }
  .p{
      margin-top: 10px;
      font-weight: 500;
  }
  .toggle {
    margin-top: 2rem;
    color: hsl(234, 14%, 74%);
    display: flex;
    align-items: center;
  }
  .toggle-btn {
    margin: 0 1rem;
  }
 .price-toggler{
    margin-top: 10px;
    display: inline-block;
    padding:5px;
    /* border:2px solid #000; */
    background: #fff;
  }
  
   .price-toggler span{
    padding:3px 25px;
    cursor: pointer;
    color:#000;
    font-size: 20px;
    display: inline-block;
  }
  
  .price-toggler span.active{
    background: #24a0ed;
    color:#fff;
    font-weight: 600;
    transition:ease;
    transition-duration: 0.5s;
  }

  .checkbox {
    display: none;
  }
  
  .sub {
    background: linear-gradient(
      135deg,
      rgba(163, 168, 240, 1) 0%,
      rgba(105, 111, 221, 1) 100%
    );
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1.6rem;
    width: 6.3rem;
    border-radius: 1.6rem;
    padding: 0.3rem;
  }

  .circle {
    background-color: #fff;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
  }
  .checkbox:checked + .sub {
    justify-content: flex-end;
  }
  
  .cards {
    /* width: 90%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  ul li p{
    font-size: 8px;
  }

  .card {
      width: 100%;
    background: #fff;
    color: hsl(233, 13%, 49%);
    margin:30px;
   
  }

  .card img{
    width: 55px;
    height: 55px;
  }
  
  ul {
    margin: 2.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  ul li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size : 13px;
    padding: 12px 12px 0 0.5rem;
  }
  ul li.price{
    font-size: 1.5rem;
    color: hsl(232, 13%, 33%);
    padding-bottom: 0rem;
    font-weight: bold;
    display: inline-block;
    transition:ease-in-out;
    transition-delay: 1.5s;
  }
  ul li.price span.amount{
    font-size: 2.5rem;
    color: hsl(232, 13%, 33%);
    padding-bottom: 0rem;
    font-weight: bold;
    display: inline-block;
    
  }
  .shadow {
    box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
  }
  
 .cards .card  ul li.year{
    display:none;
  }

  .cards .card .know-more a{
    font-size: 1rem;
    margin-top: 18px;
    color: #000;
    text-decoration: underline;
  }
  
  .btn {
    margin-top: 1rem;
    height: 2.6rem;
    width: 13.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 3px rgba(0, 0, 0);
    outline: none;
    border: 0;
    font-weight: bold;
  }

  .active-btn {
    background: #fff;
    color: hsl(237, 63%, 64%);
  }
  .bottom-bar {
    width: 18px;
    border-bottom: 3px solid deepskyblue;
  }
  .card.active .bottom-bar {
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.253);
  }
  .pack {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    color : #000;
  }
  
  @media (max-width: 280px) {
    ul {
      margin: 1rem;
    }
    h1 {
      font-size: 1.2rem;
    }
    .toggle {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 80px;
    }
    .cards {
      margin: 0;
      display: flex;
      flex-direction: column;
    }
  
    .card {
      transform: scale(0.8);
      margin-bottom: 1rem;
    }
    .cards .card.active {
      transform: scale(0.8);
    }
  }
  
